{% extends "layout.html" %}
{% block title %}Quiz detail{% endblock %}
{% block content %}
  <h2>{{ quiz_title }}</h2>
  <h4>{{ quiz_created }}</h4>
  <p>{{ quiz_description }}</p>
  <p>Questions</p>
  {% for question in questions %}
  <div>{{ question.question_name }}</div>
  {% endfor %}
  <p>Add questions</p>
  <form action="/quiz/{{ quiz_id }}/question" method="post">
    <label for="questionname">Question</label>
    <textarea name="questionname" id="questionname" autocomplete="off"></textarea>
    <span id="answeropts">
      <label for="answeropt1">Answer option 1</label>
      <input type="text" name="answeropt1" id="answeropt1" autocomplete="off">
      <label for="answeropt2">Answer option 2</label>
      <input type="text" name="answeropt2" id="answeropt2" autocomplete="off">
    </span>
    <button id="add_answeropt">Add answer</button>
    <input type="submit" value="Create">
  </form>
  <script src="{{ url_for('static', filename='js/answer.js') }}" type="text/javascript"></script>
{% endblock %}
