<title>Register</title>
<h1>Register to the app</h1>
<form action="/register" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" autocomplete="off" />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" autocomplete="off" />
  <input type="submit" value="Submit" />
</form>
{% if message %}
<span>{{ message }}</span>
{% endif %}
<div>
  Already registered?&nbsp;
  <a href="/login">Log in</a>
</div>