{% extends "layout/base.html" %}
{% block title %}Quiz detail{% endblock %}
{% block content %}
<div class="p-4 max-w-md mx-auto">
  <div class="flex-grow">
    <h2 class="text-2xl">{{ quiz_title }}</h2>
  </div>
  <div class="flex-grow">
    <p class="mt-2">{{ quiz_description }}</p>
  </div>
  <div class="flex-grow">
    <p class="mt-2">Questions:</p>
    {% if question|length == 0 %}
      <p class="mt-2">No questions yet</p>
    {% endif %}
    {% for question in questions %}
      <p class="mt-2">{{ question.question_name }}</p>
    {% endfor %}
    <p class="mt-2">Add questions</p>
  </div>
  <form action="/quiz/{{ quiz_id }}/question" method="post">
    <label for="questionname">Question</label>
    <textarea
      class="description-text-area"
      name="questionname"
      id="questionname"
      autocomplete="off"
      required
    ></textarea>
    <div id="answeropts">
      <span id="answer_option1">
        <label class="block mb-1 md:mb-0 pr-4" for="answeropt1">
          Answer option 1
        </label>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-11/12">
            <input
              class="text-input"
              type="text"
              name="answeropt1"
              id="answeropt1"
              autocomplete="off"
              required
            />
          </div>
          <div class="md:w-1/12 flex items-center justify-center">
            <input
              type="checkbox"
              id="iscorrect1"
              name="iscorrect"
              value="answeropt1"
            />
          </div>
        </div>
      </span>
      <span id="answer_option2">
        <label class="block mb-1 md:mb-0 pr-4" for="answeropt2">
          Answer option 2
        </label>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-11/12">
            <input
              class="text-input"
              type="text"
              name="answeropt2"
              id="answeropt2"
              autocomplete="off"
              required
            />
          </div>
          <div class="md:w-1/12 flex items-center justify-center">
            <input
              type="checkbox"
              id="iscorrect2"
              name="iscorrect"
              value="answeropt2"
            />
          </div>
        </div>
      </span>
    </div>
    <div>
      <button class="btn-small" id="add_answeropt">+</button>
    </div>
    <div class="flex items-center justify-center">
      <button class="btn-primary" type="submit">Save question</button>
    </div>
  </form>
</div>
<script
  src="{{ url_for('static', filename='js/answer.js') }}"
  type="text/javascript"
></script>
{% endblock %}
