{% extends "layout/base.html" %} {% block title %}Edit quiz{% endblock %} {%
block content %}
<div class="p-4 max-w-md mx-auto">
  <div class="flex-grow">
    <h2 class="text-2xl">Edit quiz</h2>
  </div>
  <form
    id="edit_quiz_form"
    class="w-full mx-auto my-4"
    action="/quiz/{{ quiz.quiz_id }}/edit"
    method="post"
  >
    <label for="quiztitle">Title</label>
    <input
      class="text-input"
      type="text"
      name="quiztitle"
      id="quiztitle"
      autocomplete="off"
      maxlength="{{ QUIZ_TITLE_MAX_LEN }}"
      value="{{ quiz.quiz_title }}"
      required
    />
    <label for="quizdescription">Description</label>
    <textarea
      class="description-text-area"
      name="quizdescription"
      id="quizdescription"
      autocomplete="off"
      maxlength="{{ QUIZ_DESC_MAX_LEN }}"
      required
    >{{ quiz.quiz_description }}</textarea>
    <div class="flex items-center justify-between">
      <a href="/">
        <button id="cancel_edit_quiz" class="btn-primary" type="button">Cancel</button>
      </a>
      <button class="btn-primary" type="submit">OK</button>
    </div>
  </form>
</div>
{% endblock %}
