{% extends "layout/base.html" %}
{% block title %}Quizmaster{% endblock %}
{% block content %}
<div id="quizlist">
  {% for quiz in quizzes %}
  <div class="p-4 max-w-md mx-auto flex items-center">
    <div class="flex-grow">
      <h2 class="text-2xl">{{ quiz.title }}</h2>
    </div>
    <a href="/attempt/{{ quiz.id }}">
      <button class="btn-secondary">Open</button>
    </a>
    {% if user_id == quiz.quizuser_id %}
      <a href="/quiz/{{ quiz.id }}/edit">
        <button class="btn-secondary">Edit</button>
      </a>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
