{% extends "layout/base.html" %}
{% block title %}Question time!{% endblock %}
{% block content %}
  <div class="p-4 max-w-md mx-auto">
    <div class="flex-grow">
      <h2 class="text-2xl">{{ question.question_name }}</h2>
    </div>
    <form action="/attempt/{{ quiz_instance_id }}/question/{{ question.question_id }}" method="post">
      {% for answer_id, answer_text in question.answer_options %}
      <div>
        <label>
          {% if question.answer_id == answer_id %}
            <input type="radio" name="answeropt" value="{{answer_id}}" checked disabled>
          {% elif question.answer_id %}
            <input type="radio" name="answeropt" value="{{answer_id}}" disabled>
          {% else %}
            <input type="radio" name="answeropt" value="{{answer_id}}">
          {% endif %}
          <span>{{ answer_text }}</span>
        </label>
      </div>
      {% endfor %}
      <button class="btn-primary" type="submit">Next</button>
    </form>
  </div>
{% endblock %}