{% extends "layout/base.html" %}
{% block title %}Question time!{% endblock %}
{% block content %}
  <h1>{{ question.question_name }}</h1>
  <p>Answer options</p>
  <form action="/attempt/{{ quiz_instance_id }}/question/{{ question.id }}" method="post">
    {% for answer in answer_opts %}
    <div>
      <label>
        {% if question_instance %}
          {% if question_instance.answer_id == answer.id %}
            <input type="radio" name="answeropt" value="{{answer.id}}" checked disabled>
            {% else %}
            <input type="radio" name="answeropt" value="{{answer.id}}" disabled>
          {% endif %}
          {% else %}
          <input type="radio" name="answeropt" value="{{answer.id}}">
        {% endif %}
        <span>{{ answer.answer_text }}</span>
      </label>
    </div>
    {% endfor %}
    {% if question_instance %}
      <input type="hidden" name="skipsaved" value="skipsaved">
    {% endif %}
    <button class="btn-primary" type="submit">Next</button>
  </form>
{% endblock %}