{% extends "layout/base.html" %}
{% block title %}Quiz stats{% endblock %}
{% block content %}
  <h2>{{ stats.quiz_title }}</h2>
  <p>{{ stats.quiz_description }}</p>
  <p>Started {{ stats.started }}</p>
  <p>Completed {{ stats.completed }}</p>
  <p>Results</p>
  {% for question in stats.questions %}
    <div>
      <span>Question: {{ question.question_name }}</span>
      <span>Answer: {{ question.answer }}</span>
      <span>Is correct: {{ question.is_correct }}</span>
      <span>Answered: {{ question.answer_time }}</span>
    </div>
  {% endfor %}
{% endblock %}
