{% extends "layout/base.html" %}
{% block title %}Quiz stats{% endblock %}
{% block content %}
<div class="p-4 max-w-md mx-auto">
  <div class="mb-4">
    <h2 class="text-2xl font-bold">{{ stats.quiz_title }}</h2>
    <p class="mt-2">{{ stats.quiz_description }}</p>
    <p class="mt-2" id="quiz_starttime">Started {{ JSDate(stats.started).to_locale_str() }}</p>
    <p class="mt-2" id="quiz_endtime">Completed {{ JSDate(stats.completed).to_locale_str() }}</p>
    <p class="mt-2">Results</p>
  </div>
  {% for question in stats.questions %}
    <div class="p-4 max-w-md mx-auto bg-white rounded-lg shadow-md">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-bold">{{ question.question_name }}</h3>
        <div class="flex items-center">
          <p class="font-semibold">
            {% if question.is_correct %}
              <i class="fas fa-check text-green-600 mr-1"><span>Correct</span></i>
            {% else %}
              <i class="fas fa-check text-red-600 mr-1"><span>Incorrect</span></i>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="flex justify-between items-center mb-2">
        <p>Selected Answer:</p>
        <p>{{ question.answer }}</p>
      </div>
      <div class="flex justify-between items-center">
        <p>Answer Time:</p>
        <p>{{ JSDate(question.answer_time).to_locale_str() }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}