{% extends "layout/base.html" %}
{% block title %}Start quiz{% endblock %}
{% block content %}
  <div class="p-4 max-w-md mx-auto">
    <div class="mb-4">
      <h2 class="text-2xl font-bold">{{ quiz.quiz_title }}</h2>
      <p class="mt-2">
        {{ quiz.quiz_description }}
      </p>
      <p class="mt-2">Created at {{ JSDate(quiz.quiz_created).to_locale_str() }} by user {{ quiz.quiz_creator }}</p>
    </div>
    {% if quiz.questions == 0 %}
      <p>Quiz has no questions</p>
    {% else %}
      <div class="flex justify-end">
        <form action="/attempt/{{ quiz.quiz_id }}/instance" method="post">
          {% if has_active_instance %}
            <button class="btn-primary" type="submit">Continue quiz</button>
            {% else %}
            <button class="btn-primary" type="submit">Start quiz</button>
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
